<html>

<head>

</head>

<title>Splunk Javascript Test</title>

<body>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.0/jquery.min.js"></script>
<script type="text/javascript">
      var sp=sp||[];(function(){var e=["init","identify","track","trackLink","pageview"],t=function(e){return function(){sp.push([e].concat(Array.prototype.slice.call(arguments,0)))}};for(var n=0;n<e.length;n++)sp[e[n]]=t(e[n])})(),sp.load=function(e,o){sp._endpoint=e;if(o){sp.init(o)};var t=document.createElement("script");t.type="text/javascript",t.async=!0,t.src=("https:"===document.location.protocol?"https://":"http://")+"d21ey8j28ejz92.cloudfront.net/analytics/v1/sp.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(t,n)};
      sp.load("http://localhost:3000"); // Data Collection Endpoint
    </script>
<P>
    <button type="button" id="button1" value="Button A" onclick="submitLoggerEvent('button1')">Button A</button>
    <button type="button" id="button2" value="Button B" onclick="submitLoggerEvent('button2')">Button B</button>
</P>

<P>
    <select id="select1" value="Selector A" onChange="submitLoggerEvent('select1')">
        <option value="Item 0" selected>Select an item
        <option value="Item 1">Item 1
        <option value="Item 2">Item 2
        <option value="Item 3">Item 3
    </select>
</P>

<P>

I'll buy it!  And I'll pay:
    <input type="text" id='dollar_amount' value="Dollar Amount" onChange="submitLoggerEvent('dollar_amount')"></input>
    <button type="button" id="button3" value="Button C" onclick="submitLoggerEvent('button3')">Buy It!</button>
</P>


<a href="/test">TEST LINK</a>

</body>

</html>