<html>

<head>

</head>

<title>Splunk Javascript Test</title>

<body>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.0/jquery.min.js"></script>
<script src="/logger/index.js"></script>
<script src="/logger/my.js"></script>
<P>
    <button type="button" id="button1" value="Button A" onclick="submitLoggerEvent('button1')">Button A</button>
    <button type="button" id="button2" value="Button B" onclick="submitLoggerEvent('button2')">Button B</button>
</P>

<P>
    <select id="select1" value="Selector A" onChange="submitLoggerEvent('select1')">
        <option value="Item 0" selected>Select an item
        <option value="Item 1">Item 1
        <option value="Item 2">Item 2
        <option value="Item 3">Item 3
    </select>
</P>

<P>

I'll buy it!  And I'll pay:
    <input type="text" id='dollar_amount' value="Dollar Amount" onChange="submitLoggerEvent('dollar_amount')"></input>
    <button type="button" id="button3" value="Button C" onclick="submitLoggerEvent('button3')">Buy It!</button>
</P>


<a href="/test">TEST LINK</a>

</body>

</html>